<div style="display: flex; justify-content:center;">
  <button mat-raised-button (click)="newGame ()" style="margin: 10px">
    <mat-icon>add</mat-icon>&nbsp;
    New game
  </button>
  <button mat-raised-button (click)="launchTests ()" style="margin: 10px">
    <mat-icon>check_circle_outline</mat-icon>&nbsp;
    Launch tests
  </button>
</div>

<div style="display: flex; justify-content:space-evenly; flex-wrap: wrap">
  <mat-card (click)="openGame (game.id)"
    *ngFor="let game of games$ | async"
    class="mat-elevation-z4-onhover mat-elevation-z2"
    style="margin: 10px; height: auto; padding: 10px">
    <mat-card-header style="display: flex; justify-content:space-between; align-items: center">
      <span>{{game.name}}</span>
      <button mat-icon-button (click)="removeGame ($event, game.id)">
        <mat-icon class="clear-icon">clear</mat-icon>
      </button>
    </mat-card-header>
    <mat-card-content>
      <div style="display: flex; justify-content: space-around; align-items: center">
        <div *ngFor="let player of game.allPlayers" style="padding: 5px; display: flex; flex-direction: column; align-items: center">
          <img
            [src]="player.faction.imageSource"
            style="height: 100px; margin: 5px">
          <div>{{player.name}} ({{player.user.username}})</div>
        </div>
      </div>
    </mat-card-content>
    
  </mat-card>
</div>