<mat-divider style="margin-top: 8px; margin-bottom: 8px;"></mat-divider>
<mat-list>
  <mat-list-item>
    <button mat-raised-button (click)="getGame ()" *ngIf="(gameStarted$ | async)">
      <mat-icon>eye</mat-icon>
      Get game
    </button>
    <button mat-raised-button (click)="createGame ()" *ngIf="!(gameStarted$ | async)">
      <mat-icon>add</mat-icon>
      Create game
    </button>
    <button mat-raised-button (click)="startGame ()" *ngIf="!(gameStarted$ | async)">
      <mat-icon>play_arrow</mat-icon>
      Start game
    </button>
  </mat-list-item>
  <mat-list-item *ngFor="let choice of choices$ | async">
    <button color="primary" mat-raised-button (click)="onChoiceClick(choice.requestChoice)">
      {{choice.label}}
    </button>
  </mat-list-item>
</mat-list>
