<mat-toolbar>
  <button mat-icon-button style="margin-right: 16px;">
    <mat-icon>menu</mat-icon>
  </button>
  <span>Agot LCG</span>
  <span class="toolbar-spacer"></span>
  <button mat-icon-button style="margin-right: 16px;" (click)="debugState()">
    <mat-icon>bug_report</mat-icon>
  </button>
  <button mat-icon-button style="margin-right: 16px;" (click)="testState()">
    <mat-icon>play_arrow</mat-icon>
  </button>
  <button mat-button>
    <mat-icon>person</mat-icon>
    {{ user }}
  </button>
</mat-toolbar>

<mat-sidenav-container (backdropClick)="closeSidenav ()">
  <!-- <mat-sidenav #sidenav (keydown.escape)="closeSidenav ()" style="width: 500px;" fixedInViewport="true" fixedTopGap="50">
    <agot-actions (dispatch)="dispatch ($event)"></agot-actions>
  </mat-sidenav> -->
  <mat-sidenav id="right-sidenav" mode="side" opened="true" position="end" fixedInViewport="true" fixedTopGap="50">
    <div>
      <img
        src="http://lcg-cdn.fantasyflightgames.com/got2nd/GT01_11.jpg"
        [src]="cardImage$ | async">
    </div>
    <mat-divider></mat-divider>
    <div style="display: flex">
      <agot-button-list style="flex-basis: 50%"></agot-button-list>
      <mat-list style="flex-basis: 50%" id="log-list">
        <mat-list-item
          class="log-row"
          *ngFor="let logRow of logRows$ | async"
          [ngClass]="{'round': logRow.type == 'ROUND', 'phase': logRow.type == 'PHASE', 'step': logRow.type == 'STEP'}">
          {{logRow.message}}
        </mat-list-item>
      </mat-list>
    </div>
  </mat-sidenav>
  <mat-sidenav-content>
    <agot-table *ngIf="gameStarted$ | async"></agot-table>
  </mat-sidenav-content>
</mat-sidenav-container>

