:host {
  width: 100%;
}

.nation-btn {
  text-align: left;
  padding: 0 2px;
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.nation-btn img {
  height: 30px;
  width: 30px;
}

