agot-card.dead-card {
  -ms-transform: rotate(270deg); /* IE 9 */
  -webkit-transform: rotate(270deg); /* Chrome, Safari, Opera */
  transform: rotate(270deg);
}

.gold-token { width: 30px; height: 30px; z-index: 11; }
