<div *ngFor="let playerUI of playerUIs">
  <div fxLayout="row">{{(playerUI.player$ | async).name}}</div>
  <div [fxLayout]="playerUI.reverseLayout ? 'column-reverse' : 'column'">
    <div [fxLayout]="playerUI.reverseLayout ? 'row-reverse' : 'row'" fxLayoutAlign="start center">
      <div fxFlex="15%" fxLayoutAlign="center">
        <agot-card *ngIf="playerUI.discardPileTop$ | async as card" [card]="card"></agot-card>
      </div>
      <div fxFlex="15%" fxLayoutAlign="center">
        <agot-card-back *ngIf="drawDeckEmpty$ | async" horizontal="true"></agot-card-back>
      </div>
      <div fxFlex="20%" fxLayoutAlign="center">
        <agot-card *ngIf="playerUI.deadPileTop$ | async as card" horizontal="true" [card]="card"></agot-card>
      </div>
      <div fxFlex="50%" fxLayoutAlign="center" fxLayoutWrap>
        <agot-card *ngFor="let card of playerUI.locations$ | async" [card]="card"></agot-card>
      </div>
    </div>
    <div [fxLayout]="playerUI.reverseLayout ? 'row-reverse' : 'row'" fxLayoutAlign="start center">
      <div fxFlex="10%" fxLayoutAlign="center">
        <agot-card *ngIf="playerUI.faction$ | async as card" [card]="card"></agot-card>
      </div>
      <div fxFlex="10%" fxLayoutAlign="center">
        <agot-card *ngIf="playerUI.agenda$ | async as card" [card]="card"></agot-card>
      </div>
      <div fxFlex="60%" fxLayoutAlign="center" fxLayoutWrap>
        <agot-card *ngFor="let card of playerUI.characters$ | async" [card]="card"></agot-card>
      </div>
      <div fxFlex="20%" fxLayoutAlign="start center" [fxLayout]="playerUI.reverseLayout ? 'column-reverse' : 'column'">
        <div fxFlex *ngIf="playerUI.plotDeck$ | async as deck">
          <agot-card-back *ngIf="deck.length > 0" horizontal="true" (cardClick)="onPlayerPlotDeckClick(deck)"></agot-card-back>
        </div>
        <div fxFlex *ngIf="playerUI.revealedPlot$ | async as card">
          <agot-card [card]="card" horizontal="true"></agot-card>
        </div>
      </div>
    </div>
  </div>
</div>

<mat-tab-group>
  <mat-tab *ngFor="let playerUI of playerUIs" [label]="(playerUI.player$ | async).name">
    <mat-card fxLayout="row" fxLayoutAlign="start center">
    <!-- PLAYER TRESURE -->
      <div fxFlex="22%" fxLayoutAlign="center">
        <img *ngFor="let gold of playerUI.goldArray$" class="gold-token" src="./assets/gold-token.png">
      </div>
    <!-- PLAYER HAND -->
      <div fxFlex fxLayoutAlign="center" fxLayoutWrap>
        <ng-container *ngFor="let card of playerUI.hand$ | async">
          <agot-card [card]="card"></agot-card>
        </ng-container>
      </div>
    </mat-card>
  </mat-tab>
</mat-tab-group>

  
