/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';

body {
    margin: 0
}

.clickable {
    cursor: pointer;
}

.clickable:hover {
    background-color: #CFD8DC
}

/* To hide the tab header. Waiting for the feature... */
.header-less-tabs.mat-tab-group .mat-tab-header {
  display: none;
}